label > input {
    /* HIDE RADIO */
    visibility: hidden;
     /*Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
}

label > img {
    /* IMAGE STYLES */
    cursor: pointer;
    width: 80px;
    height: 80px;
}

label > input:checked + img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 5px solid #ec7404;
}

img {
    border-radius: 50%;

}

.navbar {
    background: #ec7404;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

#nav_image {
    padding: 5px;
    margin-left: 10px;
    /*width: 50px;*/
    /*height: 50px;*/
}


.election {
    margin-top: 20px;
}

.election-headline {
    font-size: large;
}

.election-radio {
    text-align: center;
    margin: 10px;
}

.page-header {
    font-weight: bold;
}

.chart-div {
    height: 600px;
}