-i https://pypi.org/simple
aioredis==1.2.0
asgiref==2.3.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
autobahn==19.1.1
automat==0.7.0
cffi==1.11.5
channels-redis==2.3.3
channels==2.1.7
constantly==15.1.0
cryptography==2.5
daphne==2.2.5
dj-database-url==0.4.2
django-bootstrap3==11.0.0
django-choices==1.6.2
django-filter==2.0.0
django-rest-knox==3.1.5
django==2.1.6
djangorestframework==3.8.2
gunicorn==19.9.0
hiredis==1.0.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
msgpack==0.6.1
pillow==5.3.0
psycopg2-binary==2.7.7
psycopg2==2.7.7
pyasn1-modules==0.2.4
pyasn1==0.4.5
pycparser==2.19
pyhamcrest==1.9.0
pyopenssl==19.0.0
pytz==2018.9
raven==6.9.0
service-identity==18.1.0
six==1.12.0
twisted==18.9.0
txaio==18.8.1
whitenoise==4.1.2
zope.interface==4.6.0
