<!DOCTYPE html>
<html lang="de">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wahlen</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon; charset=binary">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    {% block head %}
    {% endblock %}
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand" id="nav_image" src="{% static 'images/jugend_schaf.png' %}">
            <a class="navbar-brand" href="{% url 'login' %}">Frühjahrswerkstatt</a>
        </div>
        {% if user.is_superuser %}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'elections_list' %}">Verwaltung</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        {% endif %}
    </div><!--/.container-fluid -->
</nav>
{% if messages %}
    <div style="margin-top: -20px">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

{% block base_body %}
{% endblock %}
<div class="modal fade" id="id-modal">
    <div class="modal-dialog" id="id-modal-dialog">
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="{% static 'js/utils.js' %}"></script>
</body>
</html>