{% extends 'base.html' %}
{% load bootstrap3 %}
{% block head %}
    <script>
        function createNewElection() {
            var copyContainer = document.getElementById('copy-container');
            var copyTarget = document.getElementById('copy-target');
            var elements = copyContainer.getElementsByClassName('form-group');
            var count = copyTarget.getElementsByClassName('form-group').length / 3 + 1;
            var targetHtml = '<div id="form-' + count + '">';
            targetHtml += '<div style="height: 2px; width: inherit; background: #818181; margin-bottom: 20px">' +
                '</div>\n<span class="pull-right glyphicon glyphicon-remove" onclick="removeFormDiv(\'form-' + count + '\')"></span>\n';
            for (var i = 0; i < elements.length; i++) {
                var html = elements[i].outerHTML;
                html = html.replace(/pre-0/g, "pre-" + count);
                targetHtml += html;
            }
            targetHtml += '</div>';

            copyTarget.insertAdjacentHTML('beforeend', targetHtml)
        }
        function removeFormDiv(formId) {
            var element = document.getElementById(formId);
            element.parentNode.removeChild(element);

        }
    </script>
{% endblock %}
{% block base_body %}
    <div class="container">
        <h1>Wahlgang erstellen</h1>

        <form action="" method="post"> {% csrf_token %}
            <div style="text-align: left" class="row">
                <div class="col-md-6">
                    {% bootstrap_form election_form %}
                    <h3>Wahlen</h3>
                    <div class="jumbotron">
                        <div id="copy-container">
                            {% bootstrap_form sub_election_form %}

                        </div>

                        <div id="copy-target"></div>
                        <div class="hidden" id="divider"
                             style="height: 2px; width: inherit; background: #818181; margin-bottom: 20px"></div>

                        <div class="btn btn-primary" id="add-sub-election" onclick="createNewElection()">Wahl
                            hinzufügen
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Speichern">
                </div>
                <div class="col-md-6"></div>

            </div>

        </form>
    </div>

{% endblock %}
