{% extends 'base.html' %}
{% load bootstrap3 %}

{% block base_body %}
    <div class="container">
        <h1>{{ election.title }}</h1>

        <form action="" method="post"> {% csrf_token %}
            <div style="text-align: left" class="row">
                <div class="col-md-6">
                    {% for sub_election in election.subelection_set.all %}
                        <h3>{{ sub_election.title }}
                            <small>{{ sub_election.short }}</small>
                        </h3>
                        <div class="jumbotron">
                            {% for candidate in sub_election.candidate_set.all %}

                                <label style="text-align: center">
                                    <img src="{% url 'get_candidate_image' candidate.pk %}"><br>
                               {{ candidate.name }}
                                </label>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Speichern">
                </div>
                <div class="col-md-6"></div>

            </div>

        </form>
    </div>

{% endblock %}
