{% extends './base.html' %}


{% block body %}

<h1>Kandidaten wählen:</h1>

<form action="" method="post"> {% csrf_token %}

    {% for candidates in list %}

    <label for="sel">{{candidates.0.sub_election.title}}:</label>
    <select name="{{ candidates.0.sub_election.short }}" id="sel">
        {% for c in candidates %}
        <option value="{{ c.pk }}">{{c.name}}</option>
        {% endfor %}
    </select>
    <p></p>

    {% endfor %}

    <input type="submit" value="Senden">

</form>

{% endblock %}
