{% extends 'base.html' %}


{% block base_body %}
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Wahlen</th>
                <th>Kandidaten</th>
                <th class="text-center">Codes</th>
                <th class="text-center">Abgegebene Stimmen</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for election in elections %}
                <tr class="election_row" style="cursor: pointer"
                    onclick="location='{% url 'edit_election' election.id %}'">
                    <td>{{ election.title }}</td>
                    <td>{{ election.sub_election_sorted }}</td>
                    <td>{{ election.candidates_sorted }} </td>
                    <td class="text-center">{{ election.electionuser_set.all.count }} </td>
                    <td class="text-center">{{ election.ballots_count }} </td>
                    <td>
                        <a class="btn btn-primary" {% if election.ballots_count %}href="{% url 'results' election.id %}"
                        {% else %} disabled{% endif %}>
                            Ergebnisse</a>
                        <a class="btn btn-primary" href="{% url 'get_user_codes' election.id %}"
                           target="_blank">Codes</a>
                        <a class="btn btn-primary" href="{% url 'activate_election' election.id %}">
                            {% if election.active %}Deaktivieren{% else %}Aktivieren {% endif %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'create_election' %}">Hinzufügen</a>
        <a class="btn btn-primary" href="{% url 'clone_election' %}">Letzten Wahlgang kopieren</a>
    </div>

{% endblock %}